.carta {
    width: 100%;
    position: relative;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 1px 5px 24px 0 rgba(255, 255, 255, 0.05);
  }
  
  .carta .card-body {
    padding: 20px;
  }
  



  .carta .card-body .navbar {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f0f3;
  }
  
  .carta .card-body .navbar li {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    list-style: none;
  }
  
  .carta .card-body .navbar li a {
    display: block;
    padding: 12px 20px;
    color: #4466f2;
    border-radius: 4px;
    text-decoration: none;
    
    transition: all 0.15s ease-in-out;
  }
  
  .carta .card-body .navbar li a.active {
    color: #ffffff;
    background-color: #121b4f;
    
  }
  
  .carta .card-body .navbar li a span.icon {
    display: none;
  }
  
  .carta .card-body .navbar li a span.text {
    display: block;
  }
  
  .carta .tab-content {
    padding: 16px;
  }
  
  .carta .tab-content .tab-pane {
    display: none;
  }
  
  .carta .tab-content .tab-pane.active {
    display: block;
  }
  
  .carta .tab-content .tab-pane p {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.7px;
    padding: 12px;
  }
  
  /* Let's write the media query */
  @media (max-width: 575px) {
    .carta .card-body .navbar li a span.icon {
      display: block;
    }
  
    .carta .card-body .navbar li a span.text {
      display: none;
    }
  }