
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#fondoMain {
  background-color: rgba(255, 255, 255, 0.911);
  font-family: 'Exo 2', sans-serif;
}

.contenidoizquierdo {
  background: #ffffff;
}

.contenidoderecho {
  background-color: rgba(255, 255, 255, 0.911);
}

.row1 {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 12px;
  overflow: hidden;
}

.row3 {
  background-color: #f8f8f8bd;
}

.letra2 {
  color: #0079be;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 12px;
}

.letra3 {
  color: #0079be;
  margin-top: 15px;
  margin-bottom: 12px;
  font-size: 2.9rem;
}

.titluPag2 {
  text-align: left;
  margin-left: 12px;
  font-size: 2.3rem;
}

.container {
  background-color: rgb(255, 255, 255);
  font-family: 'Exo 2', sans-serif;
  
}
.contenedortexto{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedorMigaPan{
  background-color: rgb(255, 255, 255);
  font-family: "Exo 2", sans-serif;
}



/* estilo para columna derecha index */

#asistyle {
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: block;
}


.contenedorNoticias{
  width: 300px;
  height: 400px;
  padding: 10px;
  overflow: hidden;
  overflow-y: scroll;
}

/* fin de estilo de columna derecha index */



.parrafos {
  text-align: justify;
  margin-left: 220px;
  margin-right: 220px;
}
#justify{
  text-align: justify;
}


/* galeria  animado con hover */
.CONTENEDORIMG {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.caja .img_caja {
  width: 450px;
  height: 450px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.caja .img_caja .main_img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
  object-fit: cover;
}

.caja .thumbnail_caja {
  height: 80px;
  display: block;
  justify-content: space-between;
}

.caja .thumbnail_caja .thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  cursor: pointer;
  object-fit: cover;
  opacity: 0.7;
  transition: 0.3s;
}

.caja .thumbnail_caja .thumbnail:hover {
  opacity: 1;
}

.active {
  opacity: 1 !important;
  box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
}

/* fin galeria  animado con hover */

/* inicio de galeria 2  animado con hover */
.gallery {
  width: 85ww;
  height: 60vmin;
  display: flex;
  gap: 5px;
}

.gallery img {
  height: 100%;
  flex: 1;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s;
}

.gallery img:hover {
  flex: 4;
}

/* fin de galeria 2  animado con hover */

/* incio  de galeria 3  animado con hover */

.ContendorPcards {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background: #ffffff;
}

.contenedorf {
  display: flex;
  width: 70vw;
}

.panel {
  background-size: auto 110%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .contenedorf {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

/* fin  de galeria 3  animado con hover */

/* inicio de estilos de pagina 2 */


.infomYv {
  padding: 5px;
  display: flex;
  width: 90%;
  height: auto;
  border-radius: 5px;
  flex-direction: raw;
  gap: 5px;
  background: #121b4f;
  align-items: center;
  justify-content: center;
}

.imgtecnicodocente{
  width: 100%;
  height: 50vw;
}

.card-text {
  text-align: justify;
  height: auto;
  width: auto;
  padding: 5px 5px;
  margin-left: 15px;
}

@media screen and (max-width: 767px) {
  .infomYv {
    flex-direction: columnaPag2;
  }
}

.ParrafoHistoria {
  text-align: justify;
}

.parrafocomunidad {
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
}

/*-----------------slider de comunidad------------------------*/
.ContActivi {
  display: flex;
  overflow-x: scroll;
  padding: 24px;
  width: 100%;
  scroll-snap-type: x mandatory;
  scroll-padding: 35px;
  border-radius: 10px;
  gap: 35px;
  background-color: #121b4f;
}

.ComunidadEdu{
  width: 100%;
}

.ContActivi .card {
  flex: 0 0 100%;
  padding: 24px;
  scroll-snap-align: start;
  border-radius: 8px;
  justify-content: center;
}

span {
  font-size: 20px;
}

/* fin de slider

/*-----------------animacion------------------------*/

/* css de ofertas academicas */

#Bachillertxt {
  text-align: justify;
  font-size: 1.3rem;
}

.contmovil {
  transition: all 1s;
  width: 100%;
}

.fixed {
  display: block;
  position: fixed;
  width: 25%;
  top: 0;
}
.list-group-item {
  text-align: center;
  font-size: 20px;
  width: 100%;
}

.contenOferta {
  margin-left: 12px;
}


/* ======================== */

.panel {
  position: relative;
  text-align: center;
  place-content: center;
  padding: 10px;
  background-size: cover;
  border-radius: 20px;
  z-index: 1;
  overflow: hidden;
}



.panel::before,
.panel::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(60% + 60px);
  background-color: rgba(0, 0, 0, 0.596);
  transition: transform 0.5s.25s ease-in;
  z-index: -1;
  opacity: 20px;
}

.panel::before {
  top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
  transform: translateY(-100%);
}

.panel::after {
  bottom: 0;
  clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
  transform: translateY(100%);
}

.card__content {
  opacity: 0;
  transition: opacity 0.25s;
}

.titulodirecti{
    font-size: 2.5rem;
}

.card__title {
  color: #ffffff;
  margin-bottom: 15px;

}

.description{
  color: #fff;
  font-size: 1.9rem;
}

#link{
  color: #0079be;
  font-size: 1.9rem;

}

.description .accordion-body {
  
  font-size: 1.2rem;
  color: #ffffff;
  width: 100%;
}

.panel:hover::before,
.panel:hover::after {
  transform: translateY(0);
}

.panel:hover .card__content {
  opacity: 1;
  transition-delay: 0.75s;
}
#textazul {
  color: #0079be;
}
#cardEspa침ol{
    background-color: #0079be;
    color: white;
    animation: espa침ol 2.5s linear infinite ;
}
#thumb{
    width: 100%;
}
#imgDepart{
    width: 100%;
}
@keyframes espa침ol{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}

/*Boton de ir arriba*/

/* GOTOP */
 
.go-top-container {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 4.4rem;
  height: 4.4rem;
  z-index: -1;
}

.go-top-button {
  width: 0rem;
  height: 0rem;
  background: #2071b2;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.go-top-button i {
  position: absolute;
  font-size: 1.7rem;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: #fff;
  transition: 0.2s;
}

.show {
  z-index: 10;
}

.show .go-top-button {
  animation: popup 0.3s ease-in-out;
  width: 3.6rem;
  height: 3.6rem;
  z-index: 11;
}

.show i {
  transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
  0% {
      width: 0;
      height: 0;
  }
  50% {
      width: 6rem;
      height: 6rem;
  }
  100% {
      width: 3.6rem;
      height: 3.6rem;
  }
}
/*estilos para la tabla*/
table {
  border-radius: 5%;
  margin: 3px;
  width: 100%;
  text-align: justify;
  border-collapse: collapse;
  
}
/*color para las celdas de encabezado*/
tr {
  padding: 8px;
  background: #b9f7fe;
  border-top: 4px solid #aaf4fe;
  border-bottom: 1px solid #fff;
  color: rgb(0, 115, 153);
}
/*color para las dem치s celdas*/
td {
  padding: 8px;
  background: #e8fdff;
  border-bottom: 1px solid #fff;
  color: rgb(0, 0, 0);
  border-top: 1px solid transparent;
}
/*efecto al pasar el cursor sobre cada fila*/
tr:hover td {
  background: #0079be;
  color: rgb(75, 188, 208);
}