
header{
    background-color: #02225B;
    color: rgb(255, 255, 255);
}

#image img{
    width: 200px;
}

.contend{
    padding: 30px;
}

#header{
    padding: 30px;
}

#header .col-md-8 {
    text-align: center;
    align-items: center;
}

.contmenu{
    background-color: #02225B;
}

















