* {
    margin: 0;
    padding: 0;
}


h1, h2{
    padding: 15px;
    color: #0079be;
}

#ramon{
    background-color: #0079be;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    color: white;
}

#registre {
    background-color: #121b4f;
    border: 2px solid white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px grey;
    color: white;
}

section p {
    text-align: justify;
    color: black;
}

.arriba {
    align-items: center;
}

.img2 {
    border: 2px solid white;
    border-radius: 5%;
    box-shadow: 0 0 10px grey ;
}

.img2 img{
    border-radius: 5%;
}

#videos {
    padding: 5px;
    
}

#videos video{
    border-radius: 10px;
}

#videos .titulo{
    
}

