*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: sans-serif;

}
body
{
    margin:0;
	padding:0;
	height: 100%;
    width: 100%;
	display: flex;
	flex-direction: column;	
}
.pagprincipal
{
    width: 380px;
    height: 500px;
    position: relative;
    margin: 10% auto;
    padding: 2px;
    overflow: hidden;   
	text-align:center;
}
h1
{
	font-size:40px;
}

.cajafuera
{
    width: 100vw;
    height: 100vh;
    display: grid;
	overflow: hidden; 
}
.formulariocaja
{
	background-color: rgba(240, 255, 255, .8);
    width: 400px;
    height: 500px;
    
    position: relative;
    margin: auto;
    
    color: black;
    
	margin-right:10%;
    padding: 2px;
    overflow: hidden;
    
	border: 1px solid black;
	border-radius: 2px;

}
.botondeintercambiar{
    width: 240px;
    margin: 20px auto;
    position: relative;
    border-radius: 0px;
}

.colornegro{
    color: black;
}

.botoncambiarcaja{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
	font-weight: bold;
	
}

.botoncambiarcaja2{
    padding: 10px 10px;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
	font-weight: bold;
	font-size:30px;
    left: 15px;
}

.logovai
{
    text-align: center;
}
.logovai img
{
    width: 120px;
}
.grupo-entradas{
    position: absolute;
    width: 280px;
    transition: .5s;
}
.cajaentradatexto{
    width: 100%;
    padding: 8px 10px;
    margin: 10px 0 10px 0;
	font-size:16px;
    color: black;
	border-radius:5px;
	border:1px solid black;
	
}
.botonenviar{
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    border: 0;
    outline: none;
    border-radius: 10px;
	border:1px solid black;
	font-size:16px;
	color:white;
	background-color: #0079be;
	
}
.checkboxvai{
    margin: 5px 10px 24px 0;
	text-align:right;
	font-size:12px;
}

.checkboxvai a{
    color:black;
    font-size: 15px;
}

#frmlogin{
    left: 50px;
}
#frmregistrar{
    left: 450px;
}

.caja_popup 
{
	display: none;
    position: absolute;
	padding:0;
	background-color:rgba(0, 0, 0, 0.5);
	width:100%;
	height:100%;
}
.contenedor_popup 
{
	border-radius: 5px;
	top: 10%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	width:400px;
	border-radius: 5px;
	transition: all 0.2s;
	
	
}
a
{
	text-decoration-line: underline;
	cursor:pointer;
}
table
{
	text-align:center;
    width: 98%;
    border-collapse: collapse;
    border: 3px solid black;
	margin:50px auto;
    background: white;
	
	
}
th 
{
    background: steelblue;
    height: 40px;
    font-weight: lighter;
    text-shadow: 0 1px 0 #38678f;
    color: white;
    border: 1px solid #38678f;
    box-shadow: inset 0px 1px 2px #568ebd;
    transition: all 0.2s;
	font-size: 22px;

}
tr 
{
    border-bottom: 1px solid #cccccc;
	width:100%;
}
td 
{
    border: 1px solid #cccccc;
    padding: 10px;
    transition: all 0.2s;
	font-size: 18px;
}
.txtrecuperar
{
	font-size: 18px;
	text-align:center;
	width: 100px;
	display: inline-block;
	background-color: #1C62C1;
	padding: 6px 10px;
	border-radius:5px;

	color: white;
	border:1px solid black;
	cursor:pointer;
}

@media screen and (max-width:425px)
{
	.formulariocaja
	{
	width: 100%
	}
}