/*fuente y efecto iluminado para el título*/
#titulo1 {
  font-size: 80px;
  color: #121b4f;
  text-shadow: 0 0 15px rgb(0, 0, 0);
}
#card1:hover {
  background-color: rgb(248, 255, 143);
  color: rgb(1, 23, 96);
}
#card1 {
  background-color: rgb(255, 255, 255);
}

/* para darle color al titulo secundarios del form */
#colorNombres{
  color: black;
}

.dropzone {
  border: 2px dashed blue;
  margin-bottom: 30px;
}

.button {
  text-align: center;
}

#send {
  background-color: blue;
  color: #fff;
  border: 1px solid;
  padding: 10px;
  transition: 0.3s;
  border-radius: 5px;
  cursor: pointer;
}

#send:active {
  background-color: #fff;
  color: blue;
}

.dz-remove {
  background-color: blue;
  color: #fff;
  text-decoration: none;
}
.dz-error-mark {
  background-color: black;
  color: red;
}
